.Rproj.user
.Rhistory
.RData
.Ruserdata
inconsistency_plot.Rproj
equations_lines_added_SA.docx
equations_lines_added_SA.Rmd
Figure 1.ps
Figure 1.png
Figure 2.png
cipriani_forest.png
cipriani_heat.png
cipriani_heat2.png
cipriani_net.png
senn_forest.png
senn_net.png
senn_netheat.png
Figure 1o.png
senn_forest_rand.png
senn_netheat_rand.png
Figure 2o.png
cipriani_forest_big.png
cipriani_heat_big.png
cipriani_heat_rand.png
cipriani_net_big.png
